<html>
    <head>
        <title>{{title}}</title>
        <script src="/static/js/min.js"></script>
        <style>
            a-scene{
                height: 100px;
                width: 100%;
            }
            }
        </style>
    </head>
    <body>
        <form action="/btn"> 
        <button type="button">Capture</button>  
        </form         
        <a-scene embdded>
            <a-sky src="static/Image/user_img.png">
            </a-sky>
                </a-scene>
    
    
    </body>
    </html>